    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="http://kai-you.net/images/a/2017/06/c672x416/e43df3182f5b80f43a5b1ff7939d3c0b.jpg" alt="sample_article.jpg">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>音楽業界に自由を</h1>
                <p>
                    <br>
                    <br>
                    Propsはユーザー主体の音楽プラットフォームです。あなたの好きなアーティストを応援してみませんか？
                    <br>
                    <br>
                    <br>
                </p>
                <a class="btn btn-primary btn-lg" href="#">propsを始める！</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Propsをフォローして最新情報をCheck！
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://kai-you.net/images/a/2017/06/c672x416/e43df3182f5b80f43a5b1ff7939d3c0b.jpg" alt="">
                    <div class="caption">
                        <h3>ラッパーNIHA-C、電波少女ハシシが客演の新曲　ジメサギとのフルMVも公開</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Pick Now!</a> <a href="#" class="btn btn-default">続きを読む</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://kai-you.net/images/a/2017/02/c672x416/0f268d08ef2452cb52b95beefbad5029.jpg" alt="">
                    <div class="caption">
                        <h3>電波少女 名曲「Re:カールマイヤー」完全版リリース　3ヶ月連続配信も</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Pick Now!</a> <a href="#" class="btn btn-default">続きを読む</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://kai-you.net/images/a/2017/03/c672x416/5334bc6fa80d6c34020e5b405ca84075.jpg" alt="">
                    <div class="caption">
                        <h3>SALUが1日限定で楽曲公開！ デート気分になれるMVの衝撃ラストとは？</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Pick Now!</a> <a href="#" class="btn btn-default">続きを読む</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://kai-you.net/r/img/a/c672x416/sky-hi_youtube_YouTube_10Mbps.mp4_000027928.jpg" alt="">
                    <div class="caption">
                        <h3>ペプシ「桃太郎」にSKY-HI、Fischers、岡崎体育！ 隠されたメッセージが…？</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Pick Now!</a> <a href="#" class="btn btn-default">続きを読む</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>