<div class="contents row">
  <div class="col-md-5 col-md-offset-3">
    <div class="thumbnail">
        <img class="img-responsive" src="<%= @product.image_url %>" alt="">
        <div class="caption-full">
            <h4><a href="<%= @pick.url %>"><%= @product.title %></a>
            </h4>
        </div>
        <div class="ratings">
            <p class="pull-right">3 picks</p>
        </div>
    </div>

    <div class="well">

        <div class="text-right">
            <a class="btn btn-success">Leave a Comment</a>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                YUMA
                <span class="pull-right">10 days ago</span>
                <p>NIHA-Cかっこよ</p>
            </div>
        </div>
        <hr>
    </div>
  </div>
</div>