  <div>
    <% user = User.find(comment.user_id) %>
    <div class="profile">
      <img src="<%= user.icon_image %>" alt="ユーザー画像">
    </div>
    <div class="details">
      <div class="nickname" style="overflow: initial;"><strong><%= user.nickname %></strong></div>
      <div class="job" style="overflow: initial;"><%= user.job %></div>
    <%= comment.comment %>
  </div>
